In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Đọc metadata thu thập từ website https://climatedata.imf.org/pages/climatechange-data

In [ ]:
ast = pd.read_csv('../data/raw_data/annual_surface_temperature_change.csv')
ast

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS Code,CTS Name,CTS Full Descriptor,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,"Afghanistan, Islamic Rep. of",AF,AFG,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate and Weath...",...,0.521,1.204,1.612,1.642,1.624,0.991,0.587,1.475,2.154,1.956
1,2,Africa,NaN,AFRTMP,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate and Weath...",...,1.013,1.190,1.392,1.180,1.178,1.297,1.200,1.396,0.996,1.485
2,3,Albania,AL,ALB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate and Weath...",...,1.285,1.667,1.558,1.196,2.103,1.751,1.567,1.589,1.585,2.122
3,4,Algeria,DZ,DZA,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate and Weath...",...,1.713,1.153,1.787,1.533,1.231,1.107,1.905,2.360,1.776,2.274
4,5,American Samoa,AS,ASM,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate and Weath...",...,0.840,0.679,1.209,1.105,0.859,1.209,1.101,0.938,0.925,0.951
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,237,Western Sahara,EH,ESH,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate and Weath...",...,1.278,1.352,1.446,1.905,0.644,1.206,1.797,1.320,1.690,2.017
232,238,World,NaN,WLD,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate and Weath...",...,1.047,1.407,1.659,1.429,1.283,1.435,1.682,1.466,1.374,1.767
233,239,"Yemen, Rep. of",YE,YEM,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate and Weath...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,240,Zambia,ZM,ZMB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate and Weath...",...,1.001,2.061,1.575,0.579,0.998,1.349,1.386,1.269,1.062,1.268
235,241,Zimbabwe,ZW,ZWE,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate and Weath...",...,0.147,0.944,1.248,0.243,0.636,1.199,0.581,0.109,-0.251,0.612

Lọc lại dữ liệu cần cho phân tích (từ năm 2018 đến năm 2022)

In [3]:
ast = ast[['Country', 'ISO3', 'Indicator', 'Unit', '2018', '2019', '2020', '2021', '2022']]
ast

,Country,ISO3,Indicator,Unit,2018,2019,2020,2021,2022
0,"Afghanistan, Islamic Rep. of",AFG,Temperature change with respect to a baseline ...,Degree Celsius,1.624,0.991,0.587,1.475,2.154
1,Africa,AFRTMP,Temperature change with respect to a baseline ...,Degree Celsius,1.178,1.297,1.200,1.396,0.996
2,Albania,ALB,Temperature change with respect to a baseline ...,Degree Celsius,2.103,1.751,1.567,1.589,1.585
3,Algeria,DZA,Temperature change with respect to a baseline ...,Degree Celsius,1.231,1.107,1.905,2.360,1.776
4,American Samoa,ASM,Temperature change with respect to a baseline ...,Degree Celsius,0.859,1.209,1.101,0.938,0.925
...,...,...,...,...,...,...,...,...,...
231,Western Sahara,ESH,Temperature change with respect to a baseline ...,Degree Celsius,0.644,1.206,1.797,1.320,1.690
232,World,WLD,Temperature change with respect to a baseline ...,Degree Celsius,1.283,1.435,1.682,1.466,1.374
233,"Yemen, Rep. of",YEM,Temperature change with respect to a baseline ...,Degree Celsius,NaN,NaN,NaN,NaN,NaN
234,Zambia,ZMB,Temperature change with respect to a baseline ...,Degree Celsius,0.998,1.349,1.386,1.269,1.062
235,Zimbabwe,ZWE,Temperature change with respect to a baseline ...,Degree Celsius,0.636,1.199,0.581,0.109,-0.251

Kết hợp với bộ dữ liệu asian_countries để lọc lại dữ liệu 51 quốc gia Châu Á

In [ ]:
asian = pd.read_csv('../data/raw_data/asian_countries.csv')

In [5]:
asian

    Unnamed: 0                                 Country ISO3
0            0                             Afghanistan  AFG
1            1                                 Armenia  ARM
2            2                              Azerbaijan  AZE
3            3                                 Bahrain  BHR
4            4                              Bangladesh  BGD
5            5                                  Bhutan  BTN
6            6                       Brunei Darussalam  BRN
7            7                                Cambodia  KHM
8            8                                   China  CHN
9            9                                  Cyprus  CYP
10          10                                 Georgia  GEO
11          11                               Hong Kong  HKG
12          12                                   India  IND
13          13                               Indonesia  IDN
14          14               Iran, Islamic Republic of  IRN
15          15                                    Iraq  IRQ
16          16                                  Israel  ISR
17          17                                   Japan  JPN
18          18                                  Jordan  JOR
19          19                              Kazakhstan  KAZ
20          20  Korea, Democratic People's Republic of  PRK
21          21                      Korea, Republic of  KOR
22          22                                  Kuwait  KWT
23          23                              Kyrgyzstan  KGZ
24          24        Lao People's Democratic Republic  LAO
25          25                                 Lebanon  LBN
26          26                                   Macao  MAC
27          27                                Malaysia  MYS
28          28                                Maldives  MDV
29          29                                Mongolia  MNG
30          30                                 Myanmar  MMR
31          31                                   Nepal  NPL
32          32                                    Oman  OMN
33          33                                Pakistan  PAK
34          34                     Palestine, State of  PSE
35          35                             Philippines  PHL
36          36                                   Qatar  QAT
37          37                            Saudi Arabia  SAU
38          38                               Singapore  SGP
39          39                               Sri Lanka  LKA
40          40                    Syrian Arab Republic  SYR
41          41                                  Taiwan  TWN
42          42                              Tajikistan  TJK
43          43                                Thailand  THA
44          44                             Timor-Leste  TLS
45          45                                 Türkiye  TUR
46          46                            Turkmenistan  TKM
47          47                    United Arab Emirates  ARE
48          48                              Uzbekistan  UZB
49          49                                Viet Nam  VNM

In [6]:
asian_ast = pd.merge(ast, asian, on='ISO3')

In [7]:
asian_ast = asian_ast.drop(['Unnamed: 0', 'Country_y'], axis=1)

In [8]:
asian_ast = asian_ast.rename(columns={"Country_x":"Country"})
asian_ast

,Country,ISO3,Indicator,Unit,2018,2019,2020,2021,2022
0,"Afghanistan, Islamic Rep. of",AFG,Temperature change with respect to a baseline ...,Degree Celsius,1.624,0.991,0.587,1.475,2.154
1,"Armenia, Rep. of",ARM,Temperature change with respect to a baseline ...,Degree Celsius,2.739,1.864,1.954,2.183,1.845
2,"Azerbaijan, Rep. of",AZE,Temperature change with respect to a baseline ...,Degree Celsius,2.131,1.878,1.889,1.958,2.029
3,"Bahrain, Kingdom of",BHR,Temperature change with respect to a baseline ...,Degree Celsius,2.280,2.127,1.989,2.421,1.971
4,Bangladesh,BGD,Temperature change with respect to a baseline ...,Degree Celsius,0.911,1.151,0.934,1.326,1.240
5,Bhutan,BTN,Temperature change with respect to a baseline ...,Degree Celsius,1.221,1.136,1.035,1.648,1.456
6,Brunei Darussalam,BRN,Temperature change with respect to a baseline ...,Degree Celsius,0.903,1.221,1.222,0.972,1.048
7,Cambodia,KHM,Temperature change with respect to a baseline ...,Degree Celsius,0.655,1.370,1.275,0.786,0.886
8,"China, P.R.: Hong Kong",HKG,Temperature change with respect to a baseline ...,Degree Celsius,1.218,1.783,1.835,1.964,1.369
9,"China, P.R.: Macao",MAC,Temperature change with respect to a baseline ...,Degree Celsius,1.218,1.783,1.835,1.964,1.369
10,"China, P.R.: Mainland",CHN,Temperature change with respect to a baseline ...,Degree Celsius,1.375,1.411,1.580,1.656,1.855
11,Cyprus,CYP,Temperature change with respect to a baseline ...,Degree Celsius,2.104,1.496,1.632,1.948,1.179
12,Georgia,GEO,Temperature change with respect to a baseline ...,Degree Celsius,2.514,1.775,2.031,1.757,1.632
13,India,IND,Temperature change with respect to a baseline ...,Degree Celsius,0.881,0.813,0.529,0.734,0.784
14,Indonesia,IDN,Temperature change with respect to a baseline ...,Degree Celsius,0.846,1.026,1.192,0.992,0.957
15,"Iran, Islamic Rep. of",IRN,Temperature change with respect to a baseline ...,Degree Celsius,2.065,1.589,1.335,2.161,2.366
16,Iraq,IRQ,Temperature change with respect to a baseline ...,Degree Celsius,2.394,1.619,1.854,2.661,2.169
17,Israel,ISR,Temperature change with respect to a baseline ...,Degree Celsius,2.139,1.343,1.612,1.964,1.275
18,Japan,JPN,Temperature change with respect to a baseline ...,Degree Celsius,0.908,1.253,1.418,1.253,1.316
19,Jordan,JOR,Temperature change with respect to a baseline ...,Degree Celsius,2.115,1.426,1.772,2.081,1.511
20,"Kazakhstan, Rep. of",KAZ,Temperature change with respect to a baseline ...,Degree Celsius,0.605,1.447,2.800,1.410,2.665
21,"Korea, Dem. People's Rep. of",PRK,Temperature change with respect to a baseline ...,Degree Celsius,0.935,1.889,1.892,1.870,1.581
22,"Korea, Rep. of",KOR,Temperature change with respect to a baseline ...,Degree Celsius,0.964,1.521,1.498,1.694,1.546
23,Kuwait,KWT,Temperature change with respect to a baseline ...,Degree Celsius,2.304,1.833,1.905,2.605,2.203
24,Kyrgyz Rep.,KGZ,Temperature change with respect to a baseline ...,Degree Celsius,1.155,1.597,1.282,1.297,2.491
25,Lao People's Dem. Rep.,LAO,Temperature change with respect to a baseline ...,Degree Celsius,0.788,2.014,1.546,1.078,0.903
26,Lebanon,LBN,Temperature change with respect to a baseline ...,Degree Celsius,2.235,1.494,1.726,2.157,1.413
27,Malaysia,MYS,Temperature change with respect to a baseline ...,Degree Celsius,1.026,1.318,1.281,1.106,1.014
28,Maldives,MDV,Temperature change with respect to a baseline ...,Degree Celsius,0.725,0.989,1.000,0.924,0.559
29,Mongolia,MNG,Temperature change with respect to a baseline ...,Degree Celsius,2.236,1.871,2.384,2.029,2.236
30,Myanmar,MMR,Temperature change with respect to a baseline ...,Degree Celsius,1.087,1.651,1.547,1.553,1.323
31,Nepal,NPL,Temperature change with respect to a baseline ...,Degree Celsius,0.630,0.699,0.059,0.428,0.963
32,Oman,OMN,Temperature change with respect to a baseline ...,Degree Celsius,1.319,1.089,0.757,1.537,1.226
33,Pakistan,PAK,Temperature change with respect to a baseline ...,Degree Celsius,1.572,0.774,0.618,1.344,1.615
34,Philippines,PHL,Temperature change with respect to a baseline ...,Degree Celsius,1.242,1.318,1.470,1.334,1.309
35,Qatar,QAT,Temperature change with respect to a baseline ...,Degree Celsius,2.027,1.861,1.745,2.175,1.865
36,Saudi Arabia,SAU,Temperature change with respect to a baseline ...,Degree Celsius,1.849,1.690,1.474,2.227,1.782
37,Singapore,SGP,Temperature change with respect to a baseline ...,Degree Celsius,0.992,1.626,1.407,1.509,1.345
38,Sri Lanka,LKA,Temperature change with respect to a baseline ...,Degree Celsius,0.771,1.223,1.265,0.978,0.937
39,Syrian Arab Rep.,SYR,Temperature change with respect to a baseline ...,Degree Celsius,2.424,1.610,1.931,2.327,1.635
40,Taiwan Province of China,TWN,Temperature change with respect to a baseline ...,Degree Celsius,1.022,1.209,1.620,1.779,1.257
41,"Tajikistan, Rep. of",TJK,Temperature change with respect to a baseline ...,Degree Celsius,1.490,1.181,0.850,0.863,1.938
42,Thailand,THA,Temperature change with respect to a baseline ...,Degree Celsius,0.813,1.714,1.475,1.012,0.937
43,"Timor-Leste, Dem. Rep. of",TLS,Temperature change with respect to a baseline ...,Degree Celsius,0.333,0.443,1.351,0.693,0.601
44,"Türkiye, Rep. of",TUR,Temperature change with respect to a baseline ...,Degree Celsius,2.617,1.679,1.877,1.920,1.288
45,Turkmenistan,TKM,Temperature change with respect to a baseline ...,Degree Celsius,1.522,1.792,1.503,1.639,2.508
46,United Arab Emirates,ARE,Temperature change with respect to a baseline ...,Degree Celsius,1.705,1.413,1.413,1.898,1.677
47,"Uzbekistan, Rep. of",UZB,Temperature change with respect to a baseline ...,Degree Celsius,0.959,1.853,1.627,1.446,2.520
48,Vietnam,VNM,Temperature change with respect to a baseline ...,Degree Celsius,0.780,1.734,1.418,1.025,0.945
49,West Bank and Gaza,PSE,Temperature change with respect to a baseline ...,Degree Celsius,2.143,1.339,1.621,1.972,1.280

In [ ]:
asian_ast.to_csv('../data/preprecessed_data/asian_ast.csv')