In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Đọc metadata thu thập từ website https://climatedata.imf.org/pages/climatechange-data

In [3]:
co2 = pd.read_csv('C:/Users/ngmai/Downloads/Atmospheric CO₂ Concentrations.csv')
co2.head()

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS Code,CTS Name,CTS Full Descriptor,Date,Value
0,1,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M03,315.71
1,2,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M04,317.45
2,3,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M05,317.51
3,4,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M06,317.27
4,5,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M07,315.87

In [4]:
co2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1582 entries, 0 to 1581
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ObjectId             1582 non-null   int64
 1   Country              1582 non-null   object
 2   ISO2                 0 non-null      float64
 3   ISO3                 1582 non-null   object
 4   Indicator            1582 non-null   object
 5   Unit                 1582 non-null   object
 6   Source               1582 non-null   object
 7   CTS Code             1582 non-null   object
 8   CTS Name             1582 non-null   object
 9   CTS Full Descriptor  1582 non-null   object
 10  Date                 1582 non-null   object
 11  Value                1582 non-null   float64
dtypes: float64(2), int64(1), object(9)
memory usage: 148.4+ KB

In [5]:
co2.describe()

          ObjectId  ISO2        Value
count  1582.000000   0.0  1582.000000
mean    791.500000   NaN   181.231113
std     456.828378   NaN   180.886443
min       1.000000   NaN    -0.110000
25%     396.250000   NaN     0.450000
50%     791.500000   NaN   314.005000
75%    1186.750000   NaN   355.642500
max    1582.000000   NaN   426.910000

In [6]:
co2.isnull().sum()

ObjectId                  0
Country                   0
ISO2                   1582
ISO3                      0
Indicator                 0
Unit                      0
Source                    0
CTS Code                  0
CTS Name                  0
CTS Full Descriptor       0
Date                      0
Value                     0
dtype: int64

Bỏ cột ISO2 vì nó không chứa dữ liệu.

In [7]:
co2.drop('ISO2', axis=1)

,ObjectId,Country,ISO3,Indicator,Unit,Source,CTS Code,CTS Name,CTS Full Descriptor,Date,Value
0,1,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M03,315.71
1,2,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M04,317.45
2,3,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M05,317.51
3,4,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M06,317.27
4,5,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M07,315.87
...,...,...,...,...,...,...,...,...,...,...,...
1577,1578,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",2024M05,0.68
1578,1579,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",2024M06,426.91
1579,1580,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",2024M06,0.76
1580,1581,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",2024M07,425.55
1581,1582,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",2024M07,0.88

In [8]:
co2['Indicator'].unique()

array(['Monthly Atmospheric Carbon Dioxide Concentrations',
       'Monthly Atmospheric Carbon Dioxide Concentrations, Year on Year Percentage Change'],
      dtype=object)

Biển đổi sang format từng năm:
1. Đỗi với mỗi Indicator, bắt đầu biến đổi format, giá trị của năm = mean giá trị của các tháng trong năm

In [9]:
def mo_ta_co_ban (df):
  print(f'Số lượng dòng: {df.shape[0]}')
  print('=====================================')
  print(f'Số lượng cột: {df.shape[1]}')
  print('=====================================')
  print(f'{df.info()}')

In [10]:
def thong_ke_co_ban(df, so_cot_bd_nam):
  unique_countries = df['Country'].nunique()
  unique_indicators = df['Indicator'].nunique()
  list_unique_indicators = df['Indicator'].unique()
  country_data_completeness = df.groupby('Country').count().loc[:, '2013':'2022']
  countries_with_complete_data = country_data_completeness.apply(lambda row: row.count() == 10, axis=1).sum()

  print(f'Có tổng cộng {unique_countries} quốc gia')
  print(f'Có tổng cộng {unique_indicators} chỉ số phụ')
  print(f'Cái chỉ số phụ: {list_unique_indicators}')

  print(f'\n=============================================================\n')

  print(f'Có tổng cộng {countries_with_complete_data} quốc gia có đủ năm từ F2013 đến F2022')

  print(f'--------------------')

  for year in df.columns[so_cot_bd_nam:]:
    non_zero = np.count_nonzero(df.groupby("Country")[year].count().values)
    print(year, "|Tổng số nước có:", non_zero)

  print(f'\n=============================================================\n')

In [11]:
def kiem_tra_indicator(df, unique_indicators):
  # Biến đếm số lượng quốc gia có đủ tất cả các Indicator unique
  countries_with_all_indicators = 0

  # Duyệt qua tất cả các quốc gia trong dữ liệu
  for country in df['Country'].unique():
      # Lấy các chỉ số unique của quốc gia này
      country_indicators = df[df['Country'] == country]['Indicator'].unique()

      # Kiểm tra xem quốc gia này có đủ các chỉ số unique không
      missing_indicators = [indicator for indicator in unique_indicators if indicator not in country_indicators]

      if len(missing_indicators) == 0:
          print(f"Quốc gia {country} có đủ tất cả các Indicator unique.")
          countries_with_all_indicators += 1  # Tăng số lượng quốc gia đủ tất cả indicator
      else:
          print(f"Quốc gia {country} thiếu.")

  print(f'--------------------')
  # In ra số lượng quốc gia đủ tất cả các Indicator unique
  print(f"Tổng số quốc gia có đủ tất cả các Indicator unique: {countries_with_all_indicators}.")

In [12]:
def find_indicators_with_min_countries(df, threshold):
    """
    Tìm các Indicator có ít nhất `threshold` quốc gia trong dữ liệu.

    Parameters:
    df (pandas.DataFrame): Dữ liệu chứa các cột 'Country' và 'Indicator'.
    threshold (int): Ngưỡng số quốc gia tối thiểu mà mỗi Indicator cần phải có.

    Returns:
    list: Danh sách các Indicator mà có ít nhất `threshold` quốc gia.
    """
    # Bước 1: Lấy danh sách tất cả các quốc gia unique
    all_countries = df['Country'].unique()
    num_countries = len(all_countries)

    # Bước 2: Lấy tất cả các giá trị unique của 'Indicator'
    unique_indicators = df['Indicator'].unique()

    # Bước 3: Kiểm tra xem mỗi indicator có đủ ít nhất `threshold` quốc gia không
    indicators_with_min_countries = []

    for indicator in unique_indicators:
        # Lọc các quốc gia có indicator này và không bị NaN
        countries_with_indicator = df[df['Indicator'] == indicator]['Country'].dropna().unique()

        # Nếu số lượng quốc gia có indicator này lớn hơn hoặc bằng threshold, thì thêm vào danh sách
        if len(countries_with_indicator) >= threshold:
            indicators_with_min_countries.append(indicator)

    return indicators_with_min_countries

In [13]:
co2['Unit'].unique()

array(['Parts Per Million', 'Percent'], dtype=object)

In [14]:
monthly_CO2_df_temp = co2[co2['Indicator'] == 'Monthly Atmospheric Carbon Dioxide Concentrations'].copy()
print(monthly_CO2_df_temp['Indicator'].unique())
print(monthly_CO2_df_temp['Unit'].unique())
monthly_CO2_df_temp.head()

['Monthly Atmospheric Carbon Dioxide Concentrations']
['Parts Per Million']

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS Code,CTS Name,CTS Full Descriptor,Date,Value
0,1,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M03,315.71
1,2,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M04,317.45
2,3,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M05,317.51
3,4,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M06,317.27
4,5,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1958M07,315.87

In [15]:
monthly_CO2_df_temp['Date'] = monthly_CO2_df_temp['Date'].astype(str)
# Xóa ký tự 'D' trong cột 'Date' và chuyển đổi sang định dạng datetime
monthly_CO2_df_temp['Date'] = monthly_CO2_df_temp['Date'].str.replace('M', '/', regex=False)
monthly_CO2_df_temp['Date'] = pd.to_datetime(monthly_CO2_df_temp['Date'], format='%Y/%m', errors='coerce')
monthly_CO2_df_temp['Year'] = monthly_CO2_df_temp['Date'].dt.year

# Pivot dữ liệu để chuyển các giá trị 'Year' thành cột và lấy giá trị trung bình theo 'Measure' và 'Year'
monthly_CO2_df_pivoted = monthly_CO2_df_temp.pivot_table(index=['Country'], columns='Year', values='Value', aggfunc='mean')
monthly_CO2_df_pivoted = monthly_CO2_df_pivoted.reset_index()

# Lấy các cột bổ sung từ dữ liệu gốc và thêm vào dữ liệu đã pivot
additional_columns = monthly_CO2_df_temp[['Country', 'ISO2', 'ISO3', 'Indicator', 'Unit', 'Source']].drop_duplicates()
monthly_CO2_df_complete = pd.merge(additional_columns, monthly_CO2_df_pivoted, on='Country', how='right')

# Đổi cột 'Indicator' thành một giá trị duy nhất và xóa các hàng trùng lặp
monthly_CO2_df_complete['Indicator'] = 'Monthly Atmospheric Carbon Dioxide Concentrations'
monthly_CO2_df_unique = monthly_CO2_df_complete.drop_duplicates(subset=['Country', 'ISO2', 'ISO3', 'Indicator', 'Unit', 'Source'])

monthly_CO2_df_unique.head()

,Country,ISO2,ISO3,Indicator,Unit,Source,1958,1959,1960,1961,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",315.237,315.981667,316.908333,317.643333,...,401.0125,404.4125,406.758333,408.715,411.649167,414.214167,416.414167,418.528333,421.075833,425.522857

In [16]:
monthly_CO2_df_temp2 = co2[co2['Indicator'] == 'Monthly Atmospheric Carbon Dioxide Concentrations, Year on Year Percentage Change'].copy()
print(monthly_CO2_df_temp2['Indicator'].unique())
print(monthly_CO2_df_temp2['Unit'].unique())
monthly_CO2_df_temp2.head()

['Monthly Atmospheric Carbon Dioxide Concentrations, Year on Year Percentage Change']
['Percent']

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS Code,CTS Name,CTS Full Descriptor,Date,Value
13,14,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1959M03,0.30
15,16,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1959M04,0.09
17,18,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1959M05,0.25
19,20,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1959M06,0.28
21,22,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate and Weath...",1959M07,0.21

In [17]:
monthly_CO2_df_temp2['Date'] = monthly_CO2_df_temp2['Date'].astype(str)
# Xóa ký tự 'D' trong cột 'Date' và chuyển đổi sang định dạng datetime
monthly_CO2_df_temp2['Date'] = monthly_CO2_df_temp2['Date'].str.replace('M', '/', regex=False)
monthly_CO2_df_temp2['Date'] = pd.to_datetime(monthly_CO2_df_temp2['Date'], format='%Y/%m', errors='coerce')
monthly_CO2_df_temp2['Year'] = monthly_CO2_df_temp2['Date'].dt.year

# Pivot dữ liệu để chuyển các giá trị 'Year' thành cột và lấy giá trị trung bình theo 'Measure' và 'Year'
monthly_CO2_df_pivoted2 = monthly_CO2_df_temp2.pivot_table(index=['Country'], columns='Year', values='Value', aggfunc='mean')
monthly_CO2_df_pivoted2 = monthly_CO2_df_pivoted2.reset_index()

# Lấy các cột bổ sung từ dữ liệu gốc và thêm vào dữ liệu đã pivot
additional_columns = monthly_CO2_df_temp2[['Country', 'ISO2', 'ISO3', 'Indicator', 'Unit', 'Source']].drop_duplicates()
monthly_CO2_df_complete2 = pd.merge(additional_columns, monthly_CO2_df_pivoted2, on='Country', how='right')

# Đổi cột 'Indicator' thành một giá trị duy nhất và xóa các hàng trùng lặp
monthly_CO2_df_complete2['Indicator'] = 'Monthly Atmospheric Carbon Dioxide Concentrations, Year on Year Percentage Change'
monthly_CO2_df_unique2 = monthly_CO2_df_complete2.drop_duplicates(subset=['Country', 'ISO2', 'ISO3', 'Indicator', 'Unit', 'Source'])

monthly_CO2_df_unique2.head()

,Country,ISO2,ISO3,Indicator,Unit,Source,1959,1960,1961,1962,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",0.234,0.2925,0.2325,0.255833,...,0.5525,0.848333,0.58,0.4825,0.7175,0.623333,0.530833,0.508333,0.608333,0.847143

In [18]:
an_CO2_concentrations = pd.concat([monthly_CO2_df_unique, monthly_CO2_df_unique2], ignore_index=True)

In [19]:
an_CO2_concentrations.head()

,Country,ISO2,ISO3,Indicator,Unit,Source,1958,1959,1960,1961,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",315.237,315.981667,316.908333,317.643333,...,401.0125,404.412500,406.758333,408.7150,411.649167,414.214167,416.414167,418.528333,421.075833,425.522857
1,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",NaN,0.234000,0.292500,0.232500,...,0.5525,0.848333,0.580000,0.4825,0.717500,0.623333,0.530833,0.508333,0.608333,0.847143

Kết hợp với bộ dữ liệu asian_countries để lọc lại dữ liệu 51 quốc gia Châu Á

In [20]:
asian = pd.read_csv('C:\\Users\\ngmai\\Downloads\\asian_countries (2).csv')

In [21]:
asian

    Unnamed: 0                                 Country ISO3
0            0                             Afghanistan  AFG
1            1                                 Armenia  ARM
2            2                              Azerbaijan  AZE
3            3                                 Bahrain  BHR
4            4                              Bangladesh  BGD
5            5                                  Bhutan  BTN
6            6                       Brunei Darussalam  BRN
7            7                                Cambodia  KHM
8            8                                   China  CHN
9            9                                  Cyprus  CYP
10          10                                 Georgia  GEO
11          11                               Hong Kong  HKG
12          12                                   India  IND
13          13                               Indonesia  IDN
14          14               Iran, Islamic Republic of  IRN
15          15                                    Iraq  IRQ
16          16                                  Israel  ISR
17          17                                   Japan  JPN
18          18                                  Jordan  JOR
19          19                              Kazakhstan  KAZ
20          20  Korea, Democratic People's Republic of  PRK
21          21                      Korea, Republic of  KOR
22          22                                  Kuwait  KWT
23          23                              Kyrgyzstan  KGZ
24          24        Lao People's Democratic Republic  LAO
25          25                                 Lebanon  LBN
26          26                                   Macao  MAC
27          27                                Malaysia  MYS
28          28                                Maldives  MDV
29          29                                Mongolia  MNG
30          30                                 Myanmar  MMR
31          31                                   Nepal  NPL
32          32                                    Oman  OMN
33          33                                Pakistan  PAK
34          34                     Palestine, State of  PSE
35          35                             Philippines  PHL
36          36                                   Qatar  QAT
37          37                            Saudi Arabia  SAU
38          38                               Singapore  SGP
39          39                               Sri Lanka  LKA
40          40                    Syrian Arab Republic  SYR
41          41                                  Taiwan  TWN
42          42                              Tajikistan  TJK
43          43                                Thailand  THA
44          44                             Timor-Leste  TLS
45          45                                 Türkiye  TUR
46          46                            Turkmenistan  TKM
47          47                    United Arab Emirates  ARE
48          48                              Uzbekistan  UZB
49          49                                Viet Nam  VNM

In [22]:
# Tạo danh sách các quốc gia từ DataFrame `df_countries`
country_names = asian["Country"].tolist()

# Lặp qua các quốc gia và tạo một bản sao của dữ liệu Carbon ứng với từng quốc gia
df_expanded = pd.DataFrame()
for country in country_names:
    temp = an_CO2_concentrations.copy()
    temp["Country"] = country  # Gán tên quốc gia
    df_expanded = pd.concat([df_expanded, temp], ignore_index=True)

# Loại bỏ hàng gốc "World"
df_expanded = df_expanded[df_expanded["Country"] != "World"]

In [23]:
df_expanded.head()

,Country,ISO2,ISO3,Indicator,Unit,Source,1958,1959,1960,1961,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",315.237,315.981667,316.908333,317.643333,...,401.0125,404.412500,406.758333,408.7150,411.649167,414.214167,416.414167,418.528333,421.075833,425.522857
1,Afghanistan,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",NaN,0.234000,0.292500,0.232500,...,0.5525,0.848333,0.580000,0.4825,0.717500,0.623333,0.530833,0.508333,0.608333,0.847143
2,Armenia,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",315.237,315.981667,316.908333,317.643333,...,401.0125,404.412500,406.758333,408.7150,411.649167,414.214167,416.414167,418.528333,421.075833,425.522857
3,Armenia,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",NaN,0.234000,0.292500,0.232500,...,0.5525,0.848333,0.580000,0.4825,0.717500,0.623333,0.530833,0.508333,0.608333,0.847143
4,Azerbaijan,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",315.237,315.981667,316.908333,317.643333,...,401.0125,404.412500,406.758333,408.7150,411.649167,414.214167,416.414167,418.528333,421.075833,425.522857

In [24]:
df_expanded.shape

(100, 73)

In [25]:
asian_co2 = pd.merge(df_expanded, asian, on='Country')

In [26]:
asian_co2

,Country,ISO2,ISO3_x,Indicator,Unit,Source,1958,1959,1960,1961,...,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 0,ISO3_y
0,Afghanistan,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",315.237,315.981667,316.908333,317.643333,...,406.758333,408.7150,411.649167,414.214167,416.414167,418.528333,421.075833,425.522857,0,AFG
1,Afghanistan,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",NaN,0.234000,0.292500,0.232500,...,0.580000,0.4825,0.717500,0.623333,0.530833,0.508333,0.608333,0.847143,0,AFG
2,Armenia,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",315.237,315.981667,316.908333,317.643333,...,406.758333,408.7150,411.649167,414.214167,416.414167,418.528333,421.075833,425.522857,1,ARM
3,Armenia,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",NaN,0.234000,0.292500,0.232500,...,0.580000,0.4825,0.717500,0.623333,0.530833,0.508333,0.608333,0.847143,1,ARM
4,Azerbaijan,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",315.237,315.981667,316.908333,317.643333,...,406.758333,408.7150,411.649167,414.214167,416.414167,418.528333,421.075833,425.522857,2,AZE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,United Arab Emirates,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",NaN,0.234000,0.292500,0.232500,...,0.580000,0.4825,0.717500,0.623333,0.530833,0.508333,0.608333,0.847143,47,ARE
96,Uzbekistan,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",315.237,315.981667,316.908333,317.643333,...,406.758333,408.7150,411.649167,414.214167,416.414167,418.528333,421.075833,425.522857,48,UZB
97,Uzbekistan,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",NaN,0.234000,0.292500,0.232500,...,0.580000,0.4825,0.717500,0.623333,0.530833,0.508333,0.608333,0.847143,48,UZB
98,Viet Nam,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmosphe...",315.237,315.981667,316.908333,317.643333,...,406.758333,408.7150,411.649167,414.214167,416.414167,418.528333,421.075833,425.522857,49,VNM
99,Viet Nam,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,"Dr. Pieter Tans, National Oceanic and Atmosphe...",NaN,0.234000,0.292500,0.232500,...,0.580000,0.4825,0.717500,0.623333,0.530833,0.508333,0.608333,0.847143,49,VNM

In [27]:
asian_co2 = asian_co2.drop(['Unnamed: 0', 'ISO2', 'ISO3_x'], axis=1)

In [28]:
asian_co2 = asian_co2.drop(['Source'], axis=1)

Lọc lại dữ liệu cần cho phân tích (từ năm 2018 đến năm 2022)

In [30]:
asian_co2.to_csv('../data/raw_data/Atmospheric_CO2_Concentrations.csv')

In [31]:
asian_co2 = pd.read_csv('../data/raw_data/Atmospheric_CO2_Concentrations.csv')

In [32]:
asian_co2 = asian_co2[['Country', 'ISO3_y', 'Indicator', 'Unit', '2018', '2019', '2020', '2021', '2022']]
asian_co2

,Country,ISO3_y,Indicator,Unit,2018,2019,2020,2021,2022
0,Afghanistan,AFG,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,408.7150,411.649167,414.214167,416.414167,418.528333
1,Afghanistan,AFG,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,0.4825,0.717500,0.623333,0.530833,0.508333
2,Armenia,ARM,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,408.7150,411.649167,414.214167,416.414167,418.528333
3,Armenia,ARM,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,0.4825,0.717500,0.623333,0.530833,0.508333
4,Azerbaijan,AZE,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,408.7150,411.649167,414.214167,416.414167,418.528333
...,...,...,...,...,...,...,...,...,...
95,United Arab Emirates,ARE,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,0.4825,0.717500,0.623333,0.530833,0.508333
96,Uzbekistan,UZB,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,408.7150,411.649167,414.214167,416.414167,418.528333
97,Uzbekistan,UZB,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,0.4825,0.717500,0.623333,0.530833,0.508333
98,Viet Nam,VNM,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,408.7150,411.649167,414.214167,416.414167,418.528333
99,Viet Nam,VNM,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,0.4825,0.717500,0.623333,0.530833,0.508333

In [33]:
asian_co2 = asian_co2.rename(columns={"ISO3_y":"ISO3"})
asian_co2

,Country,ISO3,Indicator,Unit,2018,2019,2020,2021,2022
0,Afghanistan,AFG,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,408.7150,411.649167,414.214167,416.414167,418.528333
1,Afghanistan,AFG,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,0.4825,0.717500,0.623333,0.530833,0.508333
2,Armenia,ARM,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,408.7150,411.649167,414.214167,416.414167,418.528333
3,Armenia,ARM,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,0.4825,0.717500,0.623333,0.530833,0.508333
4,Azerbaijan,AZE,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,408.7150,411.649167,414.214167,416.414167,418.528333
...,...,...,...,...,...,...,...,...,...
95,United Arab Emirates,ARE,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,0.4825,0.717500,0.623333,0.530833,0.508333
96,Uzbekistan,UZB,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,408.7150,411.649167,414.214167,416.414167,418.528333
97,Uzbekistan,UZB,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,0.4825,0.717500,0.623333,0.530833,0.508333
98,Viet Nam,VNM,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,408.7150,411.649167,414.214167,416.414167,418.528333
99,Viet Nam,VNM,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,0.4825,0.717500,0.623333,0.530833,0.508333

In [34]:
asian_co2.to_csv('../data/raw_data/Atmospheric_CO2_Concentrations.csv')